.list-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--main-green-color);
    border-radius: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.list-item__image {
    max-width: 30%;
    max-height: 80%;
    border-radius: 10%;
    object-fit: cover;
}

.list-item__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-item__title {
    font-size: 25px;
    font-weight: normal;
}

.list-item__info {
    font-weight: lighter;
    font-size: 18px;
}

.list-item__link {
    background-color: var(--main-green-color);
    border-radius: 30px;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
}