.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80vw;
    margin: 0 auto;
}

.header__name {
    font-size: 30px;
}

.header__link {
    color: #fff;
    font-weight: lighter;
    font-size: 16px;
    background-color: var(--main-green-color);
    padding: 15px 30px;
    border-radius: 30px;
    transition: 0.3s ease-in-out opacity;
}

.header__link:hover {
    opacity: 0.7;
    cursor: pointer;
}