* {
  --main-green-color: #A1BE95;
  --main-orange-color: #F98866;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  line-height: 1.2;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}